project:
  type: website
  output-dir: docs

website:
  title: "Taia Storrs"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: projects.qmd
        text: Projects and Experience
      - href: gallery.qmd
        text: Gallery  

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
 
